@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    background-color: whitesmoke;
}

h2 {
    background-color: crimson;
    color: white;
    padding: 10px;
    width: 50%;
}

a {
    font-weight: bold;
    color: dodgerblue;
    font-size: 1.2rem;
    margin: 16px;
}
.mar {
    margin-bottom: 3rem;
}

.rh {
    background-color: aliceblue;
    border: 1px solid whitesmoke;
    font-weight: 900;
    letter-spacing: 2px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 1rem;
    padding: 1rem;
}

.aa {
    padding: 2rem;
}



